{{!< default}}
{{!-- The tag above means: insert everything in this file into the body of the default.hbs template --}}

{{#post}}

{{#if primary_tag}}
    {{#if primary_tag.accent_color}}
        <style>
            :root {
                --section-color: {{primary_tag.accent_color}};
            }
        </style>
    {{/if}}
{{/if}}

<main class="gh-main">

    <article class="gh-article {{post_class}}">

        {{^has tag="#Hide article header"}}
        <header class="gh-article-header gh-canvas">

            {{#if primary_tag}}
            {{!--
            Check whether the tag has a color. We assume that only tags representing
            features or established sections will be assigned a color.
            --}}
            {{#if primary_tag.accent_color}}
                {{#primary_tag}}
                    <a class="gh-article-section{{#match slug "=" "catnip"}} rainbow-text{{/match}}" href="{{url}}"{{#if accent_color}} style="color: {{accent_color}}"{{/if}}>{{name}}</a>
                {{/primary_tag}}
            {{/if}}
            {{/if}}
            <h1 class="gh-article-title is-title">{{title}}</h1>
            {{#if custom_excerpt}}
                <p class="gh-article-excerpt is-body">{{custom_excerpt}}</p>
            {{/if}}

            <div class="gh-article-meta">
                <div class="gh-article-author-image instapaper_ignore">
                    {{#foreach authors}}
                        {{#match slug "felix"}}
                        {{else match slug "anonymous"}}
                        {{else}}
                            {{#if profile_image}}
                                <a href="{{url}}">
                                    <img class="author-profile-image" src="{{img_url profile_image size="xs"}}" alt="{{name}}">
                                </a>
                            {{else}}
                                <a href="{{url}}" class="no-author-profile-image">{{> "icons/avatar"}}</a>
                            {{/if}}
                        {{/match}}
                    {{/foreach}}
                </div>
                <div class="gh-article-meta-wrapper">
                    <h4 class="gh-article-author-name">
                        {{#foreach authors}}{{#match slug "felix"}}{{else match slug "anonymous"}}{{else}}{{#unless @first}}, {{/unless}}<a href="{{url}}">{{name}}</a>{{/match}}{{/foreach}}
                    </h4>
                    <div class="gh-article-meta-content">
                        <time class="gh-article-meta-date" datetime="{{date format="YYYY-MM-DD"}}">{{date}}</time>
                        {{#if reading_time}}
                            <span class="gh-article-meta-length"><span class="bull">—</span> {{reading_time}}</span>
                        {{/if}}
                    </div>
                </div>
            </div>
        </header>
        {{/has}}

        <section class="gh-content gh-canvas is-body{{#if @custom.enable_drop_caps_on_posts}} drop-cap{{/if}}">
            {{#has tag="#Show feature image,#import-hugo,#import-xelif"}}
                {{> "feature-image"}}
            {{/has}}
            {{content}}
        </section>

        <footer class="gh-article-footer gh-canvas">
        {{^has tag="#Show feature image,#import-hugo,#import-xelif"}}
            {{#if feature_image_caption}}
                <p>Feature image: {{feature_image_caption}}</p>
            {{/if}}
        {{/has}}
        {{#if tags}}
        <div>
            <span>Tagged in:</span>
            <ul class="comma-separated">
                {{#foreach tags}}
                <li><a href="{{url}}">{{name}}</a></li>
                {{/foreach}}
            </ul>
        </div>
        {{/if}}
        </footer>

    </article>

    {{#if @custom.show_edit_article_link}}
        <div class="gh-comments gh-canvas">
            <a href="/ghost/#/editor/post/{{id}}/">Edit this article</a>
        </div>
    {{/if}}

    {{#if comments}}
        <div class="gh-comments gh-canvas">
            {{comments}}
        </div>
    {{/if}}

</main>

{{#has tag="count:>1"}}
{{#match tags.[0].visibility "public"}}
{{#match tags.[1].visibility "public"}}
{{#get "posts" order="published_at desc" include="tags"
       filter="id:-{{id}}+tag:[{{tags.[0].slug}}]+tag:[{{tags.[1].slug}}]"}}
    {{#match posts.length ">" "1"}}
        <div class="gh-canvas">
            <div class="gh-chapter-list">
                <div class="gh-chapter-list-heading">
                    <h2><a href="{{../tags.[0].url}}">{{../tags.[0].name}}</a></h2>
                    <p>{{../tags.[1].name}}</p>
                </div>
                <ul>
                    {{#foreach posts}}
                        <li class="chapter-list-item">
                            <a class="arrow-link"
                               href="{{url}}">{{title}}</a>
                        </li>
                    {{/foreach}}
                </ul>
            </div>
        </div>
    {{/match}}
{{/get}}
{{/match}}
{{/match}}
{{/has}}

{{!-- Iterate over each tag, check if the tag has a slug starting with "issue-", output its details --}}
{{#foreach tags}}
    {{#get "tags" filter="slug:~^'issue-'+slug:{{slug}}" limit="1" as |issue|}}
        {{#issue}}
            <div class="gh-canvas gh-issue-container">
                <div class="gh-issue{{#unless feature_image}} no-front-cover{{/unless}}">
                    {{> "feature-image"}}
                    <div class="gh-issue-description">
                        <h3>From <span class="gh-issue-name">{{name}}</span></h3>
                        <em>{{#if description}}{{description}}{{else}}{{> issue-date}}{{/if}}</em>
                        <p>Discover stories from this section and more in the list of contents</p>
                        <a class="arrow-link-filled" href="{{url}}">Explore the edition</a>
                    </div>
                </div>
            </div>
        {{/issue}}
    {{/get}}
{{/foreach}}

{{#if @custom.show_related_articles}}
{{#has tag="count:>0"}}
    <section class="gh-container is-grid gh-outer">
        <div class="gh-container-inner gh-inner">
            <h2 class="gh-container-title">Read more</h2>
            <div class="gh-feed">
                {{#get "posts" include="authors" order="published_at desc"
                       filter="id:-{{id}}+tag:[{{tags.[0].slug}}]+published_at:<'{{published_at}}'"
                       limit="4" as |contemporary|}}
                    {{#foreach contemporary}} {{> "post-card" lazyLoad=true}} {{/foreach}}
                {{/get}}

                {{#get "posts" include="authors,tags" order="published_at desc"
                       filter="id:-{{id}}+tag:-[{{tags.[0].slug}}]+published_at:>'{{published_at}}'"
                       limit="4" as |recent|}}
                    {{#foreach recent}} {{> "post-card" lazyLoad=true}} {{/foreach}}
                {{/get}}
            </div>
        </div>
    </section>
{{/has}}
{{/if}}

{{/post}}
